<div id="app">
  <div ng-controller="MainCtrl">
    <!-- <form> -->
    <!-- <button ng-click="selectFile()">Upload Your File</button> -->
    <!-- <input
        type="file"
        style="display: block"
        id="files"
        name="files"
        ng-change="fileNameChanged()"
        ng-model="selectedFiles"
      /> -->
    <!-- <span id="spn">{{message}}</span>
      <span id="spn">sgfdgfdgfd</span>
      <input
        type="file"
        id="files"
        style="display: none"
        onchange="angular.element(this).scope().SelectFile(event,window.document.getElementById('spn').innerText)"
      />
      <label for="files"> Select file</label>
    </form> -->
    <!-- <table ng-click="tableClicked($event)">
      <tr ng-repeat="business in businesses">
        <td>{{ business.nameOfBusiness }}</td>
        <td>{{ business.otherData }}</td>
        <td>
          <input
            type="file"
            id="files{{$index}}"
            style="display: none"
            onchange="angular.element(this).scope().createReqBdy()"
          />
          <label for="files{{$index}}"> Select file</label> -->
    <!-- <button
            ng-disabled="!allBusinessesHaveEntries"
          >
            test
          </button> -->
    <!-- </td>
      </tr>
    </table> -->
    <div
      ng-repeat="business in businesses"
      ng-if="business.requiresSupportDocs === true"
    >
      <div>
        <div>
          {{business.nameOfBusiness}}
          ({{getDocumentsForBusiness(business.nameOfBusiness).length}})
          <input
            type="file"
            id="files{{$index}}"
            onchange="angular.element(this).scope().putFiles(event)"
          />
          <i ng-click="collapse($event)" role="button" tabindex="0"></i>
        </div>
      </div>
      <div>
        <div
          ng-repeat="docu in getDocumentsForBusiness"
          ng-model="getDocumentsForBusiness"
        >
          <span ng-click="deleteDocumentByDocumentID(docu.documentId)">
            {{getDocumentsForBusiness(business.nameOfBusiness).documentName}}
            &nbsp;&nbsp; {{docu.documentId}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
