<div id="app">
  <div ng-controller="MainCtrl">
    <!-- <form> -->
    <!-- <button ng-click="selectFile()">Upload Your File</button> -->
    <!-- <input
        type="file"
        style="display: block"
        id="files"
        name="files"
        ng-change="fileNameChanged()"
        ng-model="selectedFiles"
      /> -->
    <!-- <span id="spn">{{message}}</span>
      <span id="spn">sgfdgfdgfd</span>
      <input
        type="file"
        id="files"
        style="display: none"
        onchange="angular.element(this).scope().SelectFile(event,window.document.getElementById('spn').innerText)"
      />
      <label for="files"> Select file</label>
    </form> -->
    <table ng-click="tableClicked($event)">
      <tr ng-repeat="business in businesses">
        <td>{{ business.nameOfBusiness }}</td>
        <td>{{ business.otherData }}</td>
        <td>
          <input
            type="file"
            id="files{{$index}}"
            style="display: none"
            ng-model="selectedFiles"
            onchange="angular.element(this).scope().createReqBdy()"
          />
          <label for="files{{$index}}"> Select file</label>
        </td>
      </tr>
    </table>
  </div>
</div>
